
<style>
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #write_ticket{
        width: 70vh;
        height: 50vh;
    }
    #create_ticket{
        height: 50px;
        width: 100px;
    }
    #go_back_btn{
        height: 50px;
        width: 100px;
    }
</style>

<body>
{{>bootstrap}}
<div class="container">
    <form method="post" action="/generate-tickets-{{email}}">
    <label for="write_ticket">Please Enter your Query:</label><br>
    <textarea id="write_ticket" name="write_ticket"></textarea><br>
    <input type="submit" name="create_ticket" id="create_ticket" value="Create Ticket">
    </form>
    <input type="button" value="Go Back" id="go_back_btn">
    {{>logout_btn}}
</div>
<script>
    document.getElementById("go_back_btn").onclick = () =>{
        window.location.href = `/tickets-user-{{email}}`
    }
</script>
</body>