<style>
    .container{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .container input{
        margin: 10px;
    }
</style>
<body>
<div class="container">
    <form method="post" action="/sign-up_new-user" class="form-group">
        <label for="fname">First Name:</label>
        <input type="text" placeholder="First Name" id="fname" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" placeholder="Last Name" id="lname" name="lname"><br>
        <label for="email">Email Id:</label>
        <input type="text" placeholder="Enter Email" id="email" name="email"><br>
        <label for="password">Enter Password:</label>
        <input type="text" placeholder="Enter Password" id="password" name="password"><br>
        <label for="cpassword">Confirm Password:</label>
        <input type="text" id="cpassword" placeholder="Confirm Password" name="cpassword"><br>
        <input type="submit" value="Create Account" id="create_account">
    </form>
</div>
</body>