<style>
    .container {
        display: flex;
        justify-content: center;
    }
    .container table {
        border: 2px solid black;
        margin: 10px;
        border-collapse: collapse;
    }
    .container table th,
    .container table td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
</style>
<body>
<div class="container">
    <table>
        <tr>
            <th>Tickets</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {{#each tickets}}

            <tr>
                <td>{{ticket}}</td>
                <td>{{status}}</td>
                <td><form method="post" action="/delete-ticket"><input readonly type="hidden" name="id"><input type="submit" value="Delete" id="delete_btn"></form></td>
            </tr>
        {{/each}}
    </table>
</div>
</body>